<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>难不倒我</title>
    <!-- Bootstrap  -->
    <link href="./other/bootstrap.min.css" rel="stylesheet">
    <script src="./other/bootstrap.bundle.min.js"></script>
    <!-- Vue -->
    <script src="./other/vue.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="./other/jquery.min.js"></script>
    <!-- Public -->
    <link rel="stylesheet" href="../public.css">
    <!-- Game -->
    <link rel="stylesheet" href="./css/game.css">
    <script type="text/javascript" src="./js/game.js"></script>
</head>

<body>
    <div id="app" class="container pr">
        <div class="container-header pr" data-bs-toggle="offcanvas" data-bs-target="#container-ranking-list">
            <div class="tools-item">
                <h2>排行榜</h2>
            </div>
        </div>
        <div class="container-box pr">
            <div class="game-content pr">
                <div :id="'card-cell' + index" class="card-cell pa" v-for="(item, index) in cards" :key="index"
                    @click="cellSelctedAction($event,index)">
                    <div class="card-cell-content pr">
                        <p class="card-cell-number pr">{{item}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-gameinfo pr">
            <div class="tools-item tools-item-time pa">
                <p>时间：{{state.completionTime}}s</p>
            </div>
            <div class="tools-item tools-item-moveCount pa">
                <p>移动：{{state.moveCount}}</p>
            </div>
        </div>
        <div class="container-tools pr" @click="setNewGame()">
            <div class="tools-item tools-item-reset">
                <p> {{ this.$data.isInitial ? "开始游戏" : "重新开始" }} </p>
            </div>
        </div>
        <!-- 排行榜弹框 -->
        <div id="container-ranking-list" class="offcanvas offcanvas-body">
            <div class="ranking-list-box">
                <div class="ranking-title">排行榜</div>
                <div class="ranking-tag">
                    <!-- color: red;font-weight: bold; -->
                    <div :style="rankingIndex == 0 ? { color:'#007aff', fontWeight: 'bold' } : {}"
                        @click="selectRanking(0)">时间排名</div>
                    <div :style="rankingIndex == 1 ? { color:'#007aff', fontWeight: 'bold' } : {}"
                        @click="selectRanking(1)">移动排名</div>
                </div>
                <div class="ranking-list">
                    <div class="ranking-list-cell pr ranking-list-cell-header">
                        <div class="ranking-list-cell-index" style="opacity: 0;"></div>
                        <div class="ranking-list-cell-name">姓名</div>
                        <div class="ranking-list-cell-timeandmove"> {{ rankingIndex == 0 ? "总耗时" : "总移动" }} </div>
                    </div>
                    <div :style=" index%2 == 0 ? {backgroundColor: '#efefef'} : {}" class="ranking-list-cell pr"
                        v-for="(item, index) in rankingIndex == 0 ? rankingList.timeDataList : rankingList.moveDataList"
                        :key="index">
                        <div class="ranking-list-cell-index">{{index + 1}}</div>
                        <div class="ranking-list-cell-name">{{item.name}}</div>
                        <div class="ranking-list-cell-timeandmove">{{rankingIndex == 0 ? item.duration + "秒" :
                            item.moveCount + "次"}}</div>
                        <div class="ranking-list-cell-line pa"></div>
                    </div>
                </div>
                <!-- <div class="my-ranking-data">
                    <p style="font-size: 18px;">我的排名</p>
                    <div class="ranking-list-cell pr">
                        <div class="ranking-list-cell-index">{{1}}</div>
                        <div class="ranking-list-cell-name">{{"程恒盛"}}</div>
                        <div class="ranking-list-cell-timeandmove">{{rankingIndex == 0 ? "1" + "秒" : "1" + "次"}}</div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- 个人信息 -->
        <div class="container-user-info">
            <p> {{ userInfo.yptools_username }}</p>
            <div> 你的游戏总次数： {{ userInfo.yptools_playcount }}</div>
            <div> 你的最佳时间： {{ userInfo.yptools_besttime ? userInfo.yptools_besttime : "暂无记录" }}</div>
            <div> 你的最佳移动： {{ userInfo.yptools_bestmove ? userInfo.yptools_bestmove : "暂无记录" }}</div>
        </div>
    </div>
</body>

<script>
    const rootStyles = getComputedStyle(document.documentElement);
    const gameRowNumber = rootStyles.getPropertyValue('--game-row-number');
    const kRowCount = parseInt(gameRowNumber);
    const { createApp } = Vue
    const app = createApp({
        data() {
            return {
                cards: [],
                state: {
                    isRun: false,// 游戏是否开始
                    startTime: null,// 开始时间
                    endTime: null,// 结束时间
                    completionTime: 0,// 耗时
                    moveCount: 0,// 移动总次数
                },
                rowCount: kRowCount,// 一行几个
                totalRows: kRowCount * kRowCount,// 共计多少
                rankingList: {
                    moveDataList: [],
                    timeDataList: [],
                },
                rankingIndex: 0, // 0时间排名 1移动排名 默认为0
                isInitial: true, // 最初阶段
                userInfo: {
                    yptools_playcount: yptools_playcount,
                    yptools_besttime: yptools_besttime,
                    yptools_bestmove: yptools_bestmove,
                    yptools_username: yptools_username,
                }
            }
        },
        watch: {
            'userInfo.yptools_playcount': {
                handler(newValue, oldValue) {
                    localStorage.setItem(yptools_playcount_key, newValue);
                }
            },
            'userInfo.yptools_besttime': {
                handler(newValue, oldValue) {
                    localStorage.setItem(yptools_besttime_key, newValue);
                }
            },
            'userInfo.yptools_bestmove': {
                handler(newValue, oldValue) {
                    localStorage.setItem(yptools_bestmove_key, newValue);
                }
            }
        },
        mounted() {
            this.setupCards()
            // 移除点击默认事件
            document.querySelector('div').addEventListener('click', function (event) {
                event.preventDefault();
            });
            // 添加定时器，记录时间
            const timer = setInterval(() => {
                if (this.$data.state.isRun) {
                    // 游戏进行中...
                    this.$data.state.completionTime = parseInt((Date.now() - this.$data.state.startTime) / 1000);
                } else {
                    // 游戏未开始 或者在 结算中
                    this.$data.state.completionTime = parseInt((this.$data.state.endTime - this.$data.state.startTime) / 1000);
                }
            }, 200);

            // 获取游戏排行榜
            this.requestRankingList()
            // 初始化赋值
            this.$data.userInfo.yptools_playcount = parseInt(yptools_playcount)
            this.$data.userInfo.yptools_besttime = yptools_besttime
            this.$data.userInfo.yptools_bestmove = parseInt(yptools_bestmove)
        },
        methods: {
            setupCards() {
                this.$data.cards.splice(0, this.$data.cards.length)
                const allElements = this.$data.totalRows;
                for (let index = 0; index < allElements - 1; index++) {
                    this.$data.cards.push(index + 1)
                }
                this.$data.cards.push("")
                this.updateCellFrame()
                this.$nextTick(function () {
                    this.updateCellFrame()
                })
            },
            updateCellFrame() {
                var cells = document.getElementsByClassName("card-cell")
                for (let index = 0; index < cells.length; index++) {
                    const element = cells[index];
                    let r = Math.random() * 255;
                    let g = Math.random() * 255;
                    let b = Math.random() * 255;
                    var width = 1 / kRowCount * 100;
                    element.style.left = width * parseInt((index % kRowCount)) + "%"
                    element.style.top = width * parseInt((index / kRowCount)) + "%"
                    element.style.oldTop = element.style.top
                    element.style.oldLeft = element.style.left
                }
                this.checkCells(true)
            },
            // 选择 | 或者移动cell
            cellSelctedAction(cell, index) {
                // if (!this.$data.state.isRun) {
                //     return
                // }
                var specialCell = document.getElementById("card-cell" + (this.$data.totalRows - 1))
                if (cell.target != specialCell) {
                    var cellLeft = cell.target.style.left;
                    var cellTop = cell.target.style.top;
                    var specialLeft = specialCell.style.left;
                    var specialTop = specialCell.style.top;
                    // 只有 block 相邻才允许与之替换位置
                    var canMove = true//是否允许移动
                    var thresholdWidth = 1 / kRowCount * (kRowCount - 1) * 100;
                    // 判断垂直方向是否允许跟block替换位置
                    if (Math.abs((parseFloat(specialTop) - parseFloat(cellTop))) >= thresholdWidth) {
                        canMove = false
                    }
                    // 判断水平方向是否允许跟block替换位置
                    if (Math.abs((parseFloat(specialLeft) - parseFloat(cellLeft))) >= thresholdWidth) {
                        canMove = false
                    }
                    // 判断点击cell与block是否在同一水平方向或者同一垂直方向，否者不允许替换
                    if ((cellLeft == specialLeft || cellTop == specialTop) && canMove) {
                        cell.target.style.left = specialCell.style.left;
                        cell.target.style.top = specialCell.style.top;
                        specialCell.style.left = cellLeft;
                        specialCell.style.top = cellTop;
                        this.$data.state.moveCount++
                        this.checkCells(false)
                    }
                }
            },
            // 检查所有的cell是否都匹配上
            checkCells(isMounted) {
                var cells = document.getElementsByClassName("card-cell")
                var isMatchAll = true;
                for (let index = 0; index < cells.length; index++) {
                    const element = cells[index];
                    if (element.style.oldTop == element.style.top && element.style.oldLeft == element.style.left) {
                        // 匹配到
                        element.getElementsByClassName("card-cell-content")[0].style.border = "2px solid var(--game-selected-color)"
                    } else {
                        // 未匹配到
                        element.getElementsByClassName("card-cell-content")[0].style.border = "2px solid var(--game-unselect-color)"
                        isMatchAll = false
                    }
                }
                var specialCell = document.getElementById("card-cell" + (this.$data.totalRows - 1))
                if (specialCell) {
                    specialCell.getElementsByClassName("card-cell-content")[0].style.border = "2px solid var(--game-box-color)"
                    specialCell.getElementsByClassName("card-cell-content")[0].style.backgroundColor = "var(--game-box-color)"
                }
                // 所有的都匹配
                if (isMatchAll && isMounted == false) {
                    this.completeGame()
                }
            },
            // 开始新的游戏
            setNewGame() {
                var cells = document.getElementsByClassName("card-cell")
                cells = Array.from(cells)
                var specialCell = cells.pop()
                cells.sort(function (a, b) {
                    return Math.random() - 0.5;
                });
                cells.push(specialCell)
                for (let index = 0; index < cells.length; index++) {
                    const element = cells[index];
                    var width = 1 / kRowCount * 100;
                    element.style.left = width * parseInt((index % kRowCount)) + "%"
                    element.style.top = width * parseInt((index / kRowCount)) + "%"
                }
                this.checkCells(true);
                this.$data.state.isRun = true
                this.$data.state.startTime = Date.now()
                this.$data.state.moveCount = 0
                this.$data.isInitial = false
                this.$data.userInfo.yptools_playcount = parseInt(this.$data.userInfo.yptools_playcount) + 1;
            },
            setRowNumber(rowCount) {
                // 设置一行展示几个cells
                document.querySelector(":root").style.setProperty('--game-row-number', rowCount);
                this.$data.rowCount = rowCount;
                this.setNewGame()
            },
            completeGame() {
                this.$data.state.isRun = false
                this.$data.state.endTime = Date.now()
                // 上传游戏数据
                var data = {
                    "name": this.$data.userInfo.yptools_username,
                    "moveCount": this.$data.state.moveCount,
                    "createdTime": formatDate(new Date(this.$data.state.startTime),"yyyy-MM-dd HH:mm:ss.SSS"),// this.$data.state.startTime
                    "overTime": formatDate(new Date(this.$data.state.endTime),"yyyy-MM-dd HH:mm:ss.SSS"),
                    "udid": yptools_uniqueIdentification,
                }
                let url = baseURL + "/game/adddata"
                let self = this;
                $.ajax({
                    method: "POST",
                    contentType: 'application/json',
                    url: url,
                    data: JSON.stringify(data),
                    success: function (response) {
                        // TODO
                    }
                });
                // 最佳数据
                var duration =  (this.$data.state.endTime - this.$data.state.startTime) / 1000
                if (!isNaN(this.$data.userInfo.yptools_besttime)) {
                    if (this.$data.userInfo.yptools_besttime > duration) {
                        this.$data.userInfo.yptools_besttime = duration;
                    }
                } else {
                    this.$data.userInfo.yptools_besttime = duration;
                }
                var move = this.$data.state.moveCount
                if (!isNaN(this.$data.userInfo.yptools_bestmove)) {
                    if (this.$data.userInfo.yptools_bestmove > move) {
                        this.$data.userInfo.yptools_bestmove = move;
                    }
                } else {
                    this.$data.userInfo.yptools_bestmove = move;
                }
            },
            requestRankingList() {
                let url = baseURL + "/game/ranking"
                let self = this;
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: "json",
                    success: function (response) {
                        self.$data.rankingList.moveDataList = response.moveDataList;
                        self.$data.rankingList.timeDataList = response.timeDataList;
                    }
                });
            },
            selectRanking(index) {
                this.$data.rankingIndex = index;
            }
        }
    })
    app.mount("#app")

</script>

</html>